.encabezado{
    background: #e9ecef;
    border-radius: 30px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.posi{
    margin: 10px;
    top:-50px;
    position: relative;
    
}

.iconx{
    font-size: 50px;
    font-weight: 900;
    color: rgb(202, 76, 76);
    padding: -20px;
}

.formi{
    margin-top: 30px;
}

