.sa{
    align-items: center;
    margin-top: 30%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text21{
    margin-top: 10%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-justify: distribute;
    color: var(--ion-color-primary);
}