ion-row{
    text-align: center;
}

.isize{
    font-size: 50px;
}

.textf{
    font-size:16px;
    font-weight: bold;
    text-align: center;
}

.logo{
    font-size:20px;
    text-align: center;
    color: white;
    margin-left: 90px;
    margin-bottom: -20px;
    
}